
$primary-color: #fff;
$primary-bg-color: #12171c;
$content-bg-color: #adadad;
$font-family: 'Open Sans', sans-serif;
$font-size: 14px;
$stats-table-primary-color: #888888;
$row-title-color: #ea9b39;
$shitlord-color: #a062de;
$row-title-color-selected: #00ff95;
$highlight-tablerow: #375649;
$rank-option-text: #efff00;
$rank-option-borders: #fff;

html, body {
	position: relative;
	background: $primary-bg-color;
	color:$primary-color;
    display: block;
    padding: 0;
    margin: 0;
    font-family: $font-family;
    font-size: $font-size;
}

h3.header-text{
    text-align: center;
    font-size: 150%;
}

input{
    position: relative;
    padding: 10px;
    width: 100%;
    outline:none;
    border: none;
}

input.text {
    position: relative;
    padding: 3%;
    width: 94%;
    outline: none;
    border: none;
    background: #000;
    border-radius: 3px;
    border: 1px solid #6796dc;
    color: #fff;
    margin-top: 5px;
}

input:focus{
    outline:none;
    border-color:$row-title-color;
    box-shadow:0 0 10px $row-title-color;
}

button{
    position: relative;
    cursor: pointer;
    display: inline-block;
    color: #fff;
    outline:none;
}

button.tab {
    background: #182129;
    border: 1px solid #24374a;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

button.submit {
    background: transparent;
    border: 1px solid $row-title-color;
    /*border: 1px solid #6796dc;*/
    padding: 5px;
    margin:10px;

    &.cancel{
        border: 1px solid red;
    }
    &.cancel:hover{
         background: transparent;
         box-shadow:0 0 10px red;
    }
}

.error{
    color: red;
}

.summary-text{
    padding: 10px;
    margin: 0 auto;
    position: relative;
    display: block;
    text-align: center;
    color: #1B1725;
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 30px;
    background: $row-title-color;
}

.toggle-button-container {
    display: inline-block;
    margin-right:10px;
    cursor: pointer;

    &.recent-search {
        margin-right:0px;
        float: right;
    }
}

.toggle-button-container .section-title{
    margin-left:10px;
}

.toggle-button-container button{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid $row-title-color;
    overflow: hidden;
    font-size: 15px;
    line-height: 1px;
    position: relative;
    text-indent: -2px;
    box-shadow: 0px 0px 5px 1px #24374a;
    background: transparent;
}

.toggle-button-container button:hover{
    background: #24374a;
}

.toggle-button-container button.is-close{
    background: transparent;
    border: none;
    color: #bdbdbd;
    box-shadow: none;
    font-size: 25px;
    text-shadow: 0px 1px 1px #000;
}

button.tab:hover{
    background: #2c3646;
}

button:hover, button.tab.selected{
    outline:none;
    border-color:#6d9fea;
    box-shadow:0 0 10px #6d9fea;
    background: #6d9fea;
}

ul, li{
    list-style-type: none;
    padding: 0px;
    border:none;
    margin:0px;
}

table{
    margin:0;
    padding:0;
    border-collapse: collapse;
}

input.player-input {
    border-radius: 3px;
    border: 1px solid #3e577d;
    background: #181d25;
    color: #adadad;
    display: inline-block;
    margin-bottom: 5px;
}

.dropdown{
    position: absolute;
    z-index: 10;
}

.search-container{
	position: relative;
}

.search-container .search-block{
    position: relative;
    margin-bottom:10px;
}

.search-content{
    position: relative;
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.search-content .loading-overlay{
    color: green;
    padding-top: 10px;
}

.section{
    position: relative;
    display: block;
    padding: 8px;
    border: 1px solid $row-title-color;
    margin-top:10px;
}

.section.closed{
    margin-bottom: 10px;
}

.activity-selection-container{
	position: relative;
	padding: 10px;
}

.activity-selection-container img.activity-icon{
    float: left;
    width: 35px;
    position: relative;
    display: inline-block;
    margin-right: 10px;
}

.activity-selection-container .activity-selection{
    color: #fff;
    position: relative;
    padding: 10px;
    background: #2a3240;
    cursor: pointer;
    border: 1px solid #12171c;
    opacity: .7;
    
    &.strike{
        background: #182792;
    }
    &.raid {
        background: #580363;
    }
    &.story{
        background: #03650f;
    }
}

.activity-selection-container .activity-selection:hover{
    box-shadow: 0px 0px 20px 1px #00ff95;
    z-index: 1;
    opacity: 1;
}

.activity-selection-container .activity-selection .activity-date{

}

.activity-selection-container .activity-selection .activity-info-container{
    display: inline-block;
    margin-left:10px;
    width:90%;
}

.activity-selection-container .activity-selection .activity-info-container .activity-title{
    
}

.activity-selection-container .activity-selection .character-container{
    position: relative;
    width: 100%;
    display: block;
}

.activity-selection-container .activity-selection .character-container .character{
    display: inline-block;
    padding: 5px;
    width:25%;
    background: rgba(255, 255, 255, 0.2);
    margin-right: 5px;
    margin-top: 5px;

    &.titan{
        color: hotpink;
    }
    &.hunter{
        color: yellow;
    }
    &.warlock{
        color: #35c7ff;
    }
}

.activity-selection-container .activity-selection .character-container .character img{
    width: 25px;
    height:25px;
    vertical-align: middle;
}

.light-level{
	color: yellow;
}

.character-level-container{
	float: right;
	text-align: right;
}

.character-level-container .base-level{
	font-size:25px;
}
.character-level-container .light-level{
	font-size:14px;
}

.character-level-container span{
	display: block;
}

.main-container{
	position: relative;
	width:90%;
    display: block;
	margin:0 auto;
    /*overflow:auto;*/
}

.content {
    margin: 0 auto;
    width:95%;
}

.post-game-carnage-player-stats-container{
    position: relative;
    margin:10px;
    padding:5px;
    display: inline-block;
    float:left;
    background: #2A333E;
    border-color:#6d9fea;
    box-shadow:0 0 2px #6d9fea;
}

span.info-text{
    display: block;
    padding: 10px;
    position: relative;
    color: #ababab;
}

span.info-show-button{
    cursor: pointer;
}

.post-game-carnage-player-stats-container .stat-name, .post-game-carnage-player-stats-container .stat-display-value{
    display: inline-block;
    position: relative;
    padding:2px;
    text-align: left;
}

.post-game-carnage-player-stats-container .stat-display-value{
    text-align: right;
    float: right;
}

.post-game-carnage-player-stats-container li.statistic{
    width:100%;
}

#ActivityContainer {
    position: relative;
}

#stats-table-container{
    position: relative;
    /*min-width: 680px;*/
    margin: 0 auto;
    background: #101215;
    border-radius: 3px;
    border: 1px solid #1e466d;
    color: $stats-table-primary-color;
}

#stats-table-container #stats-table{
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
}

#stats-table{
    position: relative;
    width: 100%;
}

#stats-table .stat-row{
    position: relative;
    display: flex;
    width:100%;
    cursor:pointer;

    &.is-selected{
        box-shadow: 0px 0px 20px 2px $highlight-tablerow;
        border-radius: 3px;
        z-index: 1;
    }
}

#stats-table .stat-row .cell{
    position: relative;
    width:100%;
}

#stats-table .stats-main-header-container{
    position: absolute;
    z-index: 2;
    top: 0;
    width: 100%;
    left: 0;
    background: #12171c;
}

#stats-table .stats-main-header-container.is-fixed .stats-main-header{
    position: relative;
    width: 95%;
    margin: 0 auto;
    box-shadow: 0px 5px 10px 0px #1e466d;
}

#stats-table .stats-main-header-container.is-fixed{
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
    background: #12171c;
    left: 0;
}

#stats-table .fixed-header-push{
    position: relative; 
    height: 155px;
}

#stats-table .stats-main-header-container.is-fixed .stats-main-header-content{
    position:relative;
    width: 90%;
    margin: 0 auto;
}

.stats-main-header-container.is-fixed .activity-header-content {
    margin: 0 auto;
    background: #101215;
}

.stats-main-header-container .activity-header-content{
    box-shadow: 0px 2px 5px 0px #1e466d;
}

.stats-main-header-container.is-fixed .stats-main-header- {
    position: relative;
    width: 95%;
    margin: 0 auto;
}

#stats-table .stats-main-header-container .stats-main-header .cell-spacer{
    display: inline-block;
    text-align: center;
    float: left;
    width:150px;
}

#stats-table .stats-main-header-container .header-ranks {
    text-align: center;
    background: #adaaaa;
    color: #333;
    border-bottom: 1px solid #fff;
}

#stats-table .stats-main-header-container .header-ranks span {
    padding:5px;
}

#stats-table .stats-main-header .header-column{
    display: inline-block;
    text-align: right;
    float: left;
    margin-left:5px;
    margin-right:5px;
}

#stats-table .cell{
    display: inline-block;
    padding:5px;
    text-align: left;
    width: 100%;
    margin:2px;
}

#stats-table .cell.row-title{
    color: $row-title-color;
    overflow: hidden;
    text-overflow: ellipsis;
}

#stats-table .stat-row.is-selected .cell.row-title{
    color: $row-title-color-selected;
}

#stats-table .cell.header{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#stats-table .cell.header.is-selected{
    box-shadow: 0px 0px 10px 2px $highlight-tablerow;
    color: #00ff95;
}

#stats-table .cell.is-selected .selected-column-highlight{
    box-shadow: 0px 0px 20px 2px $highlight-tablerow;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
    padding-bottom: 3px;
    height: 10000px;
}

#stats-table .cell.activity-title{
    text-align:center;
    color: #fff;
    font-size: 150%;
    padding: 10px;
    height:55px;
}

#stats-table-container .stat-row.header-row{
    color: $row-title-color-selected;
    box-shadow: 0px 0px 20px 1px #a062de inset;
    color: #a062de;
}

#stats-table-container .stat-row.header-row span.rank{
    color:#00ff95;
}

#stats-table-container .stat-row.row-rankings{
    box-shadow: 0px 0px 20px 1px #a062de inset;
    border-top: 1px solid #1e466d;
    padding-top: 5px;
    padding-bottom: 5px;
    color: $shitlord-color;
}

#stats-table .cell.row-value-player{
    text-align: right;
    text-overflow: ellipsis;
    /*overflow: hidden;*/

    &.highlight {
        /*border: 1px solid $row-title-color-selected;*/
        border-radius: 3px;
        box-shadow: 0px 0px 20px 1px $row-title-color-selected;
    }
}

#stats-table .stat-row.odd .cell{
    background: #181d25;
}

#stats-table .cell.row-value-player.is-greatest{
    color: #41d641;
    cursor:pointer;
}

#stats-table .cell.row-value-player.is-least{
    color: #e62424;
    cursor:pointer;
}

#stats-table .cell.row-value-player.is-avg{
    color: #19a0e0;
    cursor:pointer;
}

#stats-table .activity-icon{
    position: absolute;
    height: 70px;
    padding: 5px;
}

.rank-options-container{
    position: relative;
    margin-top: 10px;
}

.rank-options-container.bordered{
    /*border: 1px solid #24374a;*/
    padding:10px;
    margin-top: 0px;
    background: #172029;
}

.rank-options{
    position:relative;
    width:100%;
    margin: 0 auto;
    display: inline-block;
    text-align:left;
}

.rank-option{
    position: relative;
    text-align: left;
    margin: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
    border-radius: 3px;

    color: #9e61db;
    background: #12171c;
}

.rank-option .rank-picker{
    position:relative;
    display:inline-block;
    width: 50%;
    text-align: left;
}

.rank-option.newItem{
    box-shadow: 0px 0px 10px 2px $rank-option-text;
}

.glow{
    transition: all 1.5s ease-in-out;
    box-shadow: 0px 0px 10px 0px #464a08;

    &.on{
        box-shadow: 0px 1px 20px 5px #efff00;
    }
}

.number-picker-container{
    width: 50px;
    position: relative;
}

.number-picker-container .control-container{
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.number-picker-container control-container.is-error{
    border:1px solid #f73434;
}

.number-picker-container .error-message{
    position: absolute;
    left: 100%;
    top: -100%;
    min-width: 200px;
    z-index: 1;
    padding: 2px;
    background: #f5a2a2;
    border-radius: 3px;
    border: 1px solid red;
    color: #333;
    margin-left: 10px;
}

.error-message:after, .error-message:before {
    right: 100%;
    top: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.error-message:after {
    border-color: rgba(245, 162, 162, 0);
    border-right-color: #f5a2a2;
    border-width: 5px;
    margin-top: -5px;
}
.error-message:before {
    border-color: rgba(245, 0, 0, 0);
    border-right-color: red;
    border-width: 6px;
    margin-top: -6px;
}

.number-picker-container.is-error input{
    background: #f5a2a2;
}

.number-picker-container input.number-picker-input{
    width: 60%;
    height: 100%;
    position: relative;
    padding: 10px;
}

.number-picker-container .up-down-buttons{
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 33%;
    right: 0;
    text-align: center;
    box-shadow: 0px 0px 5px 1px #484444;
}

.up-down-buttons span{
    display: block;
    cursor: pointer;
    background: #dcdcdc;
    color: #6d6969;
    height: 50%;
}

.up-down-buttons span.is-selected, .up-down-buttons span:hover{
    background: #71ade8;
    color: #fff;
}

.up-down-buttons .plus{
    background: #ccc;
    color: #6d6d6d;
}

.disabled-control{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #181d25;
    z-index: 1;
    opacity: .7;
}

.platform-type-container {
    width: 100px;
    position: relative;
    display: inline-block;
    border-radius: 3px;
    overflow: hidden;
    background: #fff;
}

.platform-type-container .platform-selection{
    position:relative;
    display: inline-block;
    width: 50%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: default;
    box-shadow: 0px 0px 1px 1px #b3b3b3 inset;
    color:#6d9fea;
}

.platform-type-container .platform-selection.selected{
    background: #6796dc;
    color: #fff;
    box-shadow: 0px 0px 10px 1px #5f5f5f;
    cursor: pointer;
}

.platform-type-container .platform-selection.selected:hover{
    box-shadow: 0px 0px 40px 1px #0e2c96 inset;
}

.recent-search-container{
    position: relative;
    width: 100%;
    background: #000;
    margin-bottom: 10px;
}

.recent-search-container .recent-search-table{
    max-height: 200px;
    overflow:scroll;
}

.recent-search-container .section-title{
    background: #6796dc;
    text-align: center;
    padding: 2px 0px 2px 0px;
    width: 100%;
    border-bottom: 1px solid #333;
}

.recent-search-container .recent-search{
    cursor: pointer;
    border-bottom: 1px solid #333;
}

.recent-search-container .recent-search div{
    padding: 10px;
    display:inline-block;
    border-right: 1px solid #333;
}

.recent-search-container .recent-search .recent-search-platform{
    background: #002282;
    width: 40px;
    text-align: right;

    &.xbox {
        background: green;
    }
}

.recent-search-container .recent-search .recent-search-player{
 
}

.recent-search-container .recent-search:hover {
    background: #333;
    opacity:.5;
}

#stats-table .cell div.tool-tip{
    padding: 10px;
    width:100px;
    position: absolute;
    bottom: 100%;
    left: 100%;
    z-index: 1000;
    background: #181d25;
    border-radius: 3px;
    box-shadow: 0px 1px 10px 0px #ffffff;

    &.bottom {
        top: 100%;
        bottom: auto;
    }

    &.left {
        right: 100%;
        left: auto;
    }
}

#stats-table .cell div.tool-tip span{
    display: block;
    text-align:left;
}

#stats-table .cell div.tool-tip span.low{
    color: #e62424;
}

#stats-table .cell div.tool-tip span.avg{
    color: #19a0e0;
}

#stats-table .cell div.tool-tip span.high{
    color: #41d641;
}

div.tooltip{
    position: absolute;
    bottom: 100%;
    left: 0;
    border-radius: 3px;
    z-index: 100;
    padding:5px;

    background: #2d2d2d;
    box-shadow: 0px 1px 2px 0px #000;

    &.player-name{
        color: #00ff95;
    }
    &.stat-name{
        color: $row-title-color;
    }
}
