<div id="ActivityContainer">
	<div class="activity-header-content {{activityInfo.definitions.directActivityModeHash}}">
		<div class="bg" ng-style="{'background-image':'url(http://www.bungie.net{{activityInfo.definitions.pgcrImage}})'}"></div>
		<img class="activity-icon" ng-src="{{const.bungieRoot}}{{activityInfo.definitions.displayProperties.icon}}" />
		<div class="activity-title">	
			<span>{{activityInfo.definitions.displayProperties.name}} - {{activityInfo.period | date:'MM/dd/yyyy'}}</span>
			<br/>
			<span>{{activityInfo.definitions.displayProperties.description}}</span>
		</div>
		<div class="members-header">
			<div class="character" ng-click="goToPlayer(character.player.destinyUserInfo.displayName);" ng-repeat="character in activityInfo.entries track by $index">
				<img ng-src="{{const.bungieRoot}}{{character.player.destinyUserInfo.iconPath}}" />
				<div class="title-bar">
					<div>
						<span class="player-class" data-playerName="{{character.characterInfo.displayName}}">
							{{character.player.destinyUserInfo.displayName}}  
						</span>
					</div>
					<div class="class-info">
						<span class="character-class {{character.player.characterClass.toLowerCase()}}" data-characterClass="{{character.player.characterClass}}">
								[{{character.player.characterClass}}]
						</span>
						<span class="light-level">
							{{character.player.lightLevel}} 
						</span>
					</div>
				</div>
			</div>
		</div>
	<div>
	<div ng-show="m.isLoadingCarnageReport">Gathering activity informaton, please wait...</div>
	<div id="PlayerActivityStats">
		<div id="#{{character.player.destinyUserInfo.displayName}}" 
			 ng-repeat="character in activityInfo.entries track by $index" 
			 class="player-stat-container"
			 ng-class-odd="'odd'">
			<div class="player-title-bar">
				<span>{{character.player.destinyUserInfo.displayName}}</span>
			</div>
			<ul class="stats-box">
				<li ng-repeat="stat in character.values | toArray | orderBy: orderByRank track by $index"
					ng-click="selectStat($index)">
					<div class="rank-value">
						<div class="medal {{stat.basic.className.toLowerCase()}}" 
							 ng-class="{'selected' : ctrl.m.selectedStat == $index}"
							 ng-if="stat.hasMedal">
							 <span>#{{stat.basic.rank}}</span>
						</div>
						<span>{{stat.basic.displayName}}:<span><span> {{stat.basic.displayValue}}<span>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div id="medal-legend-container">
		<div class="medal-legend">
			<div ng-repeat="medal in medalLegend track by $index"
					class="medal-stat-box" ng-if="medal.name != 'last'">
				<div class="medal {{medal.name}}" >
					<span>#{{medal.displayValue}}</span>
				</div>
				<span>{{medal.playerName}}</span>
				<div class="stat-list">
					<span ng-repeat="stat in medal.stats track by $index">{{stat}}</span>
				</div>
			</div>
		</div>
	</div>
</div>