<div id="ActivityContainer">
	<div class="tooltip" id="tooltip" style="display:none;"></div>
	<span ng-if="ctrl.m.isLoadingCarnageReport">Loading Post Game Carnage Report...</span>

	<toggle-section is-open="isShowRankings" section-title="Ranks">
		<div ng-show="isShowRankings">
			<div class="rank-options-container" ng-show="isShowRankings">
				<div class="tabs-container">
					<button class="tab" ng-class="{'selected': !ctrl.m.isShowUnusedRankings}" ng-click="ctrl.m.isShowUnusedRankings = false">Used</button>
					<button class="tab" ng-class="{'selected': ctrl.m.isShowUnusedRankings}" ng-click="ctrl.m.isShowUnusedRankings = true">Unused</button>
				</div>
				<div class="rank-options-container bordered">
					<div class="rank-options">
						<div class="used-ranks" ng-if="!ctrl.m.isShowUnusedRankings">
							<div>
								<span class="info-show-button" ng-hide="true"></span>
								<span class="info-text">-Set your desired rank values, these are just suggested options. <br/> -Weigh your picks on a scale from -10 to 10 (least to most important). <br/>-To remove a rank set it to 0 then click the rank button to recalculate. <br/>-Find more options on the unused tab. <br/>-Newly added or changed ranks will be displayed as blinking, click the rank button again to add these ranks to your results. <br/>-The users rank will be displayed beneath their player name on the stats table.</span>
								
								<ul>
									<li class="rank-option" ng-repeat="rank in ctrl.m.rankingCategories track by $index" ng-if="rank.isUse" animated-glow is-active="{{rank.isNew}}" delay="1500" >
										<div class="rank-picker">
											<span>{{rank.displayName}}: </span>
										</div>
										<div class="rank-picker">
											<number-picker 
												on-change="ctrl.m.changedRankValue"
												values-array="ctrl.m.weightValueArray" 
												value-key="weight"
												input-model="rank">
											</number-picker>
										</div>
									</li>
								</ul>


							</div>
							<div>
								<button id="rank-submit-button" class="submit" animated-glow is-active="{{ctrl.m.isRankNeedsUpdate}}" delay="1500" ng-click="ctrl.m.calculatePlayerStandings()">Rank</button>
							</div>
						</div>
						<div class="unused-ranks" ng-if="ctrl.m.isShowUnusedRankings">
							<span class="info-text">Change any value from 0 and it will be added to the used tab.</span>
							<ul>
								<li class="rank-option" ng-repeat="rank in ctrl.m.rankingCategories track by $index" ng-if="!rank.isUse">
									<div class="rank-picker">
										<span>{{rank.displayName}}: </span>
									</div>
									<div class="rank-picker">
										<number-picker
											on-change="ctrl.m.addNewItem"
											values-array="ctrl.m.weightValueArray" 
											value-key="weight"
											input-model="rank">
										</number-picker>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</toggle-section>
	<div id="stats-table-container">
		<div id="stats-table" sticky-container is-sticky="ctrl.m.isSticky" sticky-class="stats-main-header">
			<div class="stats-main-header-container" ng-class="{'is-fixed' : ctrl.m.isSticky}">
				<div class="stats-main-header-content">
					<div class="stats-main-header">
						<div class="header-ranks">
							<span ng-repeat="rank in ctrl.m.rankingCategories track by $index" ng-if="rank.isUse">
								{{rank.displayName}} : {{rank.weight}}
							</span>
						</div>
						<div class="activity-header-content {{activityInfo.definitions.activities[0].activityTypeName.toLowerCase()}}">
							<div class="bg" ng-style="{'background-image':'url(http://www.bungie.net{{activityInfo.definitions.activities[0].pgcrImage}})'}"></div>
							<img class="activity-icon" src="{{const.bungieRoot}}{{activityInfo.definitions.activities[0].icon}}" />
							<span class="cell activity-title">{{activityInfo.definitions.activities[0].activityName}} - {{activityInfo.dateTime | date:'MM/dd/yyyy'}}</span>
							<div class="stat-row header-row">
								<span class="cell">
									<span style="display: block;">Stat</span>
									<span class="rank" ng-if="ctrl.m.isRankLoaded">Rank:</span>
								</span>

								<span class="cell header" 
								      ng-repeat="(key, val) in ctrl.m.activityMembers track by $index" 
								      ng-class="{ 'is-selected' : ctrl.m.tableSelectionObject.selectedCell.column === $index}" 
								      ng-click="ctrl.m.selectColumn($index)"
								      yfs-tooltip display-text="{{val.displayName}}" append-classes="player-name">
								      <img src="{{const.bungieRoot}}{{val.iconPath}}" />
								      <span>{{val.displayName}}</span>
								      <br/>
									  <span class="rank" ng-if="ctrl.m.isRankLoaded">{{val.rank.totalScore}}</span>

									  <div class="tool-tip" ng-if="ctrl.m.tableSelectionObject.selectedCell.column === $index">
										  <span class="low">{{val.displayName}}</span>
										  <span class="avg">{{val.rank.totalScore}}</span>
									  </div>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="stat-row header-row" ng-if="!ctrl.m.isSticky">
				<span class="cell"></span>
				<span class="cell header" ng-repeat="(key, val) in ctrl.m.activityMembers track by $index" ng-class="{ 'is-selected' : ctrl.m.tableSelectionObject.selectedCell.column === $index}">{{val.displayName}}
					<div class="selected-column-highlight" 
						 ng-style="fixedHeight"
						 ng-if="ctrl.m.tableSelectionObject.selectedCell.column === $index">
					</div>
				</span>
				<div class="fixed-header-push"></div>
			</div>-->

			<div id="hidden-header" class="stat-row">
				<span class="cell row-title stat-display-name"></span>
				<span ng-repeat="(key, val) in ctrl.m.activityMembers track by $index"
					  class="cell row-value-player"
					  ng-class="{ 'is-selected' : ctrl.m.tableSelectionObject.selectedCell.column === $index}" >
					   <div class="selected-column-highlight"
						 ng-if="ctrl.m.tableSelectionObject.selectedCell.column === $index" 
						 >
					</div>
				</span>
			</div>
			<div class="fixed-header-push">
			</div>
			<div ng-class="{'odd' : $odd, 'is-selected' : ctrl.m.tableSelectionObject.selectedCell.row === $index}" class="stat-row" ng-repeat="stat in ctrl.m.chartModel.trueStats track by $index">
				<span class="cell row-title stat-display-name" 
				ng-click="ctrl.m.selectRow($index)"
				yfs-tooltip display-text="{{stat.displayName}}" append-classes="stat-name">{{stat.displayName}}</span>
				<span ng-repeat="(key, val) in activityMembers track by $index"
					  ng-class="{'is-greatest' : stat[key].isGreatest, 'is-least' : stat[key].isLeast, 'is-avg' : stat[key].isMostAvg, 'highlight' : (ctrl.m.tableSelectionObject.selectedCell.column === $index && ctrl.m.tableSelectionObject.selectedCell.row === $parent.$index)}" class="cell row-value-player" 
					  title="{{'(avg: ' + stat.ratingValues.avgVal + '; low: ' + stat.ratingValues.lowestVal + '; high: ' + stat.ratingValues.highestVal + ';)' }}" 
					  ng-click="ctrl.m.selectCell($index, $parent.$index, stat[key].displayValue)">
					  {{stat[key].displayValue}}
					  <div class="tool-tip" ng-class="{'bottom' : (ctrl.m.tableSelectionObject.selectedCell.row < 1), 'left' : $last}" ng-if="ctrl.m.tableSelectionObject.selectedCell.column === $index && ctrl.m.tableSelectionObject.selectedCell.row === $parent.$index">
						  <span class="low">Low: {{stat.ratingValues.lowestVal}}</span>
						  <span class="avg">Avg: {{stat.ratingValues.avgVal}}</span>
						  <span class="high">High: {{stat.ratingValues.highestVal}}</span>
					  </div>
				</span>
			</div>
			<div ng-class="{'odd' : $odd}" class="stat-row" ng-repeat="stat in chartModel.extendedWeaponsStats track by $index">
				<span class="cell row-title stat-display-name" ng-click="ctrl.m.selectRow($index)">{{stat.displayName}}</span>
				<span ng-repeat="(key, val) in activityMembers track by $index" 
					  ng-class="{'is-greatest' : stat[key].isGreatest, 'is-least' : stat[key].isLeast, 'is-avg' : stat[key].isMostAvg, 'highlight' : (ctrl.m.tableSelectionObject.selectedCell.column === $index && ctrl.m.tableSelectionObject.selectedCell.row === $parent.$index)}" class="cell row-value-player" 
					  class="cell row-value-player" 
					  title="{{'(avg: ' + stat.ratingValues.avgVal + '; low: ' + stat.ratingValues.lowestVal + '; high: ' + stat.ratingValues.highestVal + ';)' }}"
					  ng-click="ctrl.m.selectCell($index, $parent.$index, stat[key].displayValue)">{{stat[key].displayValue}}</span>
			</div>
		</div>
	</div>
</div>