<!DOCTYPE html>
<html lang="en" ng-app="fireTeam">
	<head>
		<meta charset="utf-8"/>
		<title>Your Fireteam Sucks</title>
		<!--<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<link href="//fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" type="text/css">
		<link href="css/sass.css" type="text/css" rel="stylesheet"/>

		<script src="lib/jquery.min.js"></script>
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-ui-router.min.js"></script>
		<script src="lib/angular-cookies.min.js"></script>
		
		<script type="text/javascript" src="common/fire-team.module.js"></script>
		<script type="text/javascript" src="common/common.module.js"></script>
		<script type="text/javascript" src="services/base-http.service.js"></script>
		<script type="text/javascript" src="services/player-options.factory.js"></script>
		<script type="text/javascript" src="common/main.controller.js"></script>
		<script type="text/javascript" src="services/player-base-model.factory.js"></script>
		<script type="text/javascript" src="services/game-options.service.js"></script>
		<script type="text/javascript" src="services/game-activity-model.factory.js"></script>
		<script type="text/javascript" src="characters/character.module.js"></script>
		<script type="text/javascript" src="services/character-model.factory.js"></script>
		<script type="text/javascript" src="characters/character-info.directive.js"></script>
		<script type="text/javascript" src="services/character-activity-model.factory.js"></script>
		<script type="text/javascript" src="services/fire-team-model.factory.js"></script>
		<script type="text/javascript" src="services/activity-model.factory.js"></script>
		<script type="text/javascript" src="activities/activity-info.directive.js"></script>
		<script type="text/javascript" src="common/directives/dropdown.directive.js"></script>
		<script type="text/javascript" src="common/directives/input.directive.js"></script>
		<script type="text/javascript" src="common/directives/number-picker.directive.js"></script>
		<script type="text/javascript" src="common/directives/sticky-container.directive.js"></script>
		<script type="text/javascript" src="common/directives/toggle-section.directive.js"></script>
		<script type="text/javascript" src="common/directives/animated-glow.directive.js"></script>
		<script type="text/javascript" src="common/directives/yfs-tooltip.directive.js"></script>
		<script type="text/javascript" src="common/directives/disabled-div.directive.js"></script>
	</head>
	<body ng-controller="mainCtrl">
	<div class="main-container">
		<div class="content">
			<h3 class="header-text"></h3>

			<div class="search-container">
				<div class="search-block">
					<div class="bg"></div>
					<div class="search-content">
						<div style="position: relative;">
							<disabled-div ng-if="m.isLoadingData"></disabled-div>
							<div class="platform-type-container">
								<div class="platform-selection" ng-class="{'selected' : m.selectedPlatform.id !== platform.id}" ng-repeat="platform in m.platformTypes track by $index" ng-click="m.selectedPlatform = platform">
									{{platform.displayValue}}
								</div>
							</div>

							<drop-down-directive
								input-model="m.gameModes"
								on-click="selectMode"
								tab-index="0"
								default-value="m.gameModes.generic[0]">
							</drop-down-directive>

							<input-directive 
								ng-if="(!m.hidePlaceHolder || !member.isPlaceHolder)"
								ng-repeat="member in m.playersArrays track by $index"
								input-model="member"
								recent-search="m.recentSearches"
								on-click="loadRecentSearch"
								tab-index="{{$index + 1}}"
								ng-keydown="keyDownEvt($event)">
							</input-directive>
						</div>
						<span class="error" ng-if="m.errorMessage">{{m.errorMessage}}</span>

						<div ng-if="!m.isLoadingData">
							<button id="PlayerSearch" class="submit" tabindex="8" class="button" ng-click="search()" ng-if="m.isNewSearch">
								Search
							</button>
						</div>

						<div class="loading-overlay" ng-if="m.isLoadingData">
							<span ng-hide="m.activityListProgress.totalActivities">
								Finding activity matches...
							</span>
							<span ng-show="m.activityListProgress.totalActivities">
								{{m.activityListProgress.totalActivities}} matches found.
							</span>
							<span ng-show="m.showProgressMessage">
								<span>Loading activity details:</span>
								<span>{{m.activityListProgress.activitiesLoaded}} / {{m.activityListProgress.totalActivities}}</span>
								<span>({{m.activityListProgress.percentComplete}}%)</span>
							</span>
							<br/>
							<button class="submit cancel" ng-click="cancelSearch()">cancel</button>
						</div>

					</div>
				</div>
			</div>
			<toggle-section is-open="m.isShowActivityList" section-title="Activity List" ng-if="m.fireTeamActivityResults.length > 0">

				<div class="section-header">
					<span>
						Found {{m.fireTeamActivityResults.length}} result(s):
						<button id="MoreResults" class="submit" ng-if="m.initialSearchRun && !m.isLoadingData" ng-click="getMoreResults(); m.matchAttempts = 0;">
							More Results
						</button>
					</span>
				</div>

				<div class="activity-selection-container" ng-show="m.isShowActivityList">
					<div class="activity-selection {{activity.definitions.activityTypes[0].activityTypeName.toLowerCase()}}" ng-repeat="activity in m.fireTeamActivityResults track by $index" ng-click="selectActivity(activity)" ng-mouseover="m.hoveredActivity = activity" ng-mouseout="m.hoveredActivity = null"  ng-class="{'not-selected' : m.hoveredActivity !== activity && m.hoveredActivity !== null}">
					<div class="spacing">
						<div class="bg" ng-style="{'background-image':'url(http://www.bungie.net{{activity.definitions.activities[0].pgcrImage}})'}">
						</div>
						<div class="activity-title">
							<img class="activity-icon" src="{{const.bungieRoot}}{{activity.definitions.activityTypes[0].icon}}" />
							<span class="activity-date">{{activity.dateTime | date:'MM/dd/yyyy'}}</span>
							<br/>
							<span>
								<span ng-if="activity.definitions.activityTypes[0].friendlyUrlId">
									({{activity.definitions.activityTypes[0].friendlyUrlId}})
								</span>
								<span>
								{{activity.definitions.activityTypes[0].activityTypeName}} : 
								</span>
							</span>
							<span ng-repeat="act in activity.definitions.activities">
								{{act.activityName}}
							</span>
						</div>
						<div class="activity-info-container" ng-show="m.selectedActivity === activity || m.hoveredActivity === activity">
							<div class="character-container">
								<div class="character" ng-repeat="character in activity.playerPostGameCarnageReport track by $index">
									<img src="{{const.bungieRoot}}{{character.characterInfo.iconPath}}" />
									<span class="character-class  {{character.characterInfo.characterClass.toLowerCase()}}" data-characterClass="{{character.characterInfo.characterClass}}">
										[{{character.characterInfo.characterClass}}] : 
									</span>
									<span class="player-class" data-playerName="{{character.characterInfo.displayName}}">
										{{character.characterInfo.displayName}}  
									</span>
									<span class="light-level">
										{{character.characterInfo.lightLevel}} 
									</span>
									
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</toggle-section>
			<activity-info
				ng-if="m.selectedActivity"
				activity-info="m.selectedActivity">
			</activity-info>
			</div>
		</div>
	</div>
	</body>
</html>
