<!DOCTYPE html>
<html lang="en" ng-app="fireTeam">
	<head>
		<meta charset="utf-8"/>
		<title>Your Fireteam Sucks</title>
		<!--<link href="/favicon.ico?ver=1" rel="shortcut icon" type="image/x-icon"/>-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<link href="//fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet" type="text/css">
		<!--<link href="css/style.css" type="text/css" rel="stylesheet"/>-->
		<link href="css/sass.css" type="text/css" rel="stylesheet"/>

		<script src="lib/jquery.min.js"></script>
		<script src="lib/angular.min.js"></script>
		<script src="lib/angular-routes.min.js"></script>
		<script src="lib/angular-cookies.min.js"></script>
		
		<script type="text/javascript" src="common/fire-team.module.js"></script>
		<script type="text/javascript" src="common/common.module.js"></script>
		<script type="text/javascript" src="common/base-http.service.js"></script>
		<script type="text/javascript" src="common/player-options.factory.js"></script>
		<script type="text/javascript" src="common/main.controller.js"></script>
		<script type="text/javascript" src="common/player-base-model.factory.js"></script>
		<script type="text/javascript" src="common/game-options.service.js"></script>
		<script type="text/javascript" src="common/game-activity-model.factory.js"></script>
		<script type="text/javascript" src="characters/character.module.js"></script>
		<script type="text/javascript" src="characters/character-model.factory.js"></script>
		<script type="text/javascript" src="characters/character-info.directive.js"></script>
		<script type="text/javascript" src="characters/character-activity-model.factory.js"></script>
		<script type="text/javascript" src="fire-teams/fire-team-model.factory.js"></script>
		<script type="text/javascript" src="fire-teams/activity-model.factory.js"></script>
		<script type="text/javascript" src="activities/activity-info.directive.js"></script>
		<script type="text/javascript" src="common/directives/input.directive.js"></script>
		<script type="text/javascript" src="common/directives/number-picker.directive.js"></script>
		<script type="text/javascript" src="common/directives/sticky-container.directive.js"></script>
		<script type="text/javascript" src="common/directives/toggle-section.directive.js"></script>
		<script type="text/javascript" src="common/directives/animated-glow.directive.js"></script>
	</head>
	<body>
	<div class="main-container">
		<div class="content" ng-controller="mainCtrl">

			<button ng-click="selectActivity(m.testObject)" class="submit">TEST OBJECT!</button>
			<h3 class="header-text"></h3>

			<div class="search-container">

				<div class="search-content">
					<div class="platform-type-container">
						<div class="platform-selection" ng-class="{'selected' : m.selectedPlatform.id !== platform.id}" ng-repeat="platform in m.platformTypes track by $index" ng-click="m.selectedPlatform = platform">
							{{platform.displayValue}}
						</div>
					</div>

					<div class="toggle-button-container recent-search" ng-mouseover="m.showRecentSearches = true" ng-mouseout="m.showRecentSearches = false">
						<span class="section-title">Recent Searches</span>
						<div class="dropdown recent-search-container" ng-show="m.showRecentSearches">
							<div class="recent-search" ng-repeat="search in m.recentSearches track by $index" ng-click="loadRecentSearch($index)">
								<span>{{search.platformType.displayValue.toUpperCase()}}:</span>
								<span ng-repeat="player in search.players track by $index" ng-if="!player.isPlaceHolder">
									{{player.displayName}}
									<span ng-if="$index !== search.players.length-2">,</span>
								</span>
							</div>
						</div>
						<button class="is-open">></button>
					</div>
				</div>

				<div class="search-content">
					<input-directive 
						ng-if="(!m.hidePlaceHolder || !member.isPlaceHolder)"
						ng-repeat="member in m.playersArrays track by $index"
						input-model="member"
						tab-index="{{$index + 1}}"
						ng-keydown="keyDownEvt($event)">
					</input-directive>
				</div>

				<div class="search-content" ng-if="!m.isLoadingData">
					<button id="PlayerSearch" class="submit" tabindex="8" class="button" ng-click="getFireTeamModel()">
						Search
					</button>
					<button id="MoreResults" class="submit" ng-if="m.initialSearchRun && !m.isLoadingData" tabindex="8" ng-click="getMoreResults()">	More Results
					</button>
				</div>

				<div class="loading-overlay" ng-if="m.isLoadingData">
					<span ng-hide="m.activityListProgress.totalActivities">
						Finding activity matches...
					</span>
					<button class="submit" ng-click="cancelSearch()">cancel</button>
					<span ng-show="m.activityListProgress.totalActivities">
						{{m.activityListProgress.totalActivities}} matches found.
					</span>
					<span ng-show="m.showProgressMessage">
						<span>Loading activity details:</span>
						<span>{{m.activityListProgress.activitiesLoaded}} / {{m.activityListProgress.totalActivities}}</span>
						<span>{{m.activityListProgress.percentComplete}} %</span>
					</span>
				</div>
			</div>
<!-- 
			<toggle-section is-open="m.showRecentSearches" section-title="Recent Searches">
				<div class="recent-search-container">
					<div ng-if="m.showRecentSearches">
						<div ng-repeat="search in m.recentSearches track by $index" ng-click="loadRecentSearch($index)">
							<span ng-repeat="player in search.players track by $index" ng-if="!player.isPlaceHolder">
								{{player.displayName}}; 
							</span>
						</div>
					</div>
				</div>
			</toggle-section> -->

			<span ng-if="m.errorMessage">{{m.errorMessage}}</span>
			<div>
				<toggle-section is-open="m.isShowActivityList" section-title="Activity List" ng-if="m.fireTeamActivityResults.length > 0">
					<div class="character-selection-container" ng-show="m.isShowActivityList">
						<span>
							Found {{m.fireTeamActivityResults.length}} result(s):
						</span>
						<div class="character-selection {{activity.definitions.activityTypes[0].activityTypeName.toLowerCase()}}" ng-repeat="activity in m.fireTeamActivityResults track by $index" ng-click="selectActivity(activity)">
						<img class="activity-icon" src="http://www.bungie.net{{activity.definitions.activityTypes[0].icon}}" />
							<div class="activity-info-container">
								<span class="activity-date">{{activity.dateTime | date:'MM/dd/yyyy'}}</span>
								<div class="activity-title">
									<span ng-repeat="type in activity.definitions.activityTypes">
										<span ng-if="type.friendlyUrlId">({{type.friendlyUrlId}})</span> {{type.activityTypeName}} : 
									</span>
									<span ng-repeat="act in activity.definitions.activities">
										{{act.activityName}}
									</span>
								</div>
								<div class="character-container">
									<div class="character" ng-repeat="character in activity.playerPostGameCarnageReport track by $index">
										<span class="player-class" data-playerName="{{character.characterInfo.displayName}}">
											{{character.characterInfo.displayName}} : 
										</span>
										<span class="character-class" data-characterClass="{{character.characterInfo.characterClass}}">
											{{character.characterInfo.characterClass}}
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</toggle-section>
				<activity-info
					ng-if="m.selectedActivity"
					activity-info="m.selectedActivity">
				</activity-info>
			</div>
		</div>
	</div>
	</body>
</html>
